%centering {
  display: flex;
  justify-content: center;
}

%header-p {
  p {
    display: flex;
    justify-content: center;
    font-size: 32px;
    color: #fafafa;
  }
}

%arrow {
  margin: 99px -1px;
  font-family: "Raleway";
  font-weight: 100;
  font-size: 60px;
  position: absolute;
  &:hover {
    color: $orange;
    cursor: pointer;
  }
}
