$color-primary: #fafafa;
$main-color: #3d4148;
$data-color: #656d78;
$black: #000;
$paralax-color: #d14b3a;
$folder-underline: #e6e9ed;
$burger--thickness: 4px;
$second-color: #ff3c1f;
$color-feedback-border-grad1: #fff;
$color-feedback-border-grad2: #abb2bd;
$folder-text-color: #303030;
$up-color: #57595b;

$arrow-font: "Raleway";
$main-font: "Open sans";

$breakpoints: (xx-large:1440px, x-large: 1200px, large: 992px, medium: 768px, small: 576px);
$screen-small: 576px; // Small devices (landscape phones, 576px and up)
$screen-medium: 768px; // Medium devices (tablets, 768px and up)
$screen-large: 992px; // Large devices (desktops, 992px and up)
$screen-x-large: 1200px; // Extra large devices (large desktops, 1200px and up)
$screen-xx-large: 1440px;
