$color-primary: #fafafa;
$main-color: #3d4148;
$data-color:#656d78;
$container-width: 1440px;
$black: #000;
$paralax-color:#D14B3A;
$second-color: #ff3c1f;
$color-feedback-border-grad1: #fff;
$color-feedback-border-grad2: #abb2bd;
$folder-text-color:#303030;