@import "vendor/reset";
@import "inheritance";
@import "variables";
@import "typography";
@import "scss/components/headline";
@import "scss/components/commercial";
@import "scss/components/blog";

a {
  text-decoration: none;
  color: #fafafa;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: Raleway, sans-serif;
}

.start-screen-block {
  width: $container-width;
  height: 900px;
  border: 1px solid black;
  background: #3d4148;
}

header {
  position: absolute;
  margin: 20px 230px 0px;
  width: 1021px;
  height: 465px;
  @extend %centering;
  border: 1px solid blue;
}

header ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 963px;
  height: 25px;
  margin-top: 38px;
  margin-left: -35px;
  text-transform: uppercase;
}

header li {
  border-bottom: 1px solid transparent;
  font-size: 18px;
  color: #fafafa;
}

header li:hover {
  border-bottom-color: #f00;
}

.header-logo {
  @extend %logo;
}

.header-logo img {
  width: 50px;
  height: 50px;
}
.header-slider {
  width: 1364px;
  height: 524px;
  border: 1px solid green;
  margin-top: 187px;
  margin-left: 38px;
}
.header-slider p {
  font-size: 50px;
  margin-top: 37px;
  color: #fafafa;
  margin-left: 91px;
}
.slider-buttons {
  margin: 69px 96px;
}
.arrows {
  position: absolute;
  width: inherit;
}
.left-arrow {
  margin: 120px -1px;
  position: absolute;
}
.right-arrow {
  margin-top: 120px;
  position: absolute;
  right: 1px;
}
.slider-headline {
  font-size: 70px;
  font-weight: 700;
  font-style: normal;
  margin-top: -17px;
}
.line {
  margin: -16px 95px;
}
.slider-dots {
  margin: 140px auto;
  display: flex;
  justify-content: space-around;
  width: 105px;
  height: 25px;
}
.slider-paragraph {
  font-size: 50px;
  width: 910px;
}
.focused {
  width: 23px;
  height: 23px;
  border: 1px solid #fafafa;
  background: #fafafa;
}
.unfocused {
  width: 23px;
  height: 23px;
  border: 1px solid #fafafa;
  background: none;
}
.explore-btn {
  cursor: pointer;
  color: #fafafa;
  font-size: 16px;
  text-transform: uppercase;
  width: 150px;
  height: 50px;
  background: none;
  border: 1px solid #fafafa;
}
.explore-btn:hover,
.learn-btn:hover {
  background: #d14b3a;
  border: none;
}
.learn-btn {
  cursor: pointer;
  margin-left: 15px;
  text-transform: uppercase;
  width: 150px;
  height: 50px;
  color: #fafafa;
  background: none;
  border: 1px solid #fafafa;
}
.paralax-section {
  background: url(/src/img/red-frame.png);
  margin-top: -35px;
  width: $container-width;
  height: 700px;
  z-index: 100;
  border: 1px solid black;
}
.paralax-headline {
  @extend %headline;
}
.paralax-quote {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: -10vh;
  color: #fafafa;
}
.quote-symbol {
  color: #fafafa;
  font-size: 150px;
  opacity: 0.6;
  margin-left: 15vw;
  width: 51px;
  height: 40px;
}
.quote {
  font-style: italic;
  font-size: 30px;
  align-self: center;
  width: 878px;
  height: 71px;
}
.quote-author {
  font-size: 30px;
  margin-top: 5vh;
  width: 878px;
  align-self: center;
}
.latest-blog-posts {
  width: $container-width;
  height: 1069px;
  border: 1px solid black;
}
.latest-portfolio {
  margin-top: -80px;
  width: $container-width;
  height: 923px;
  border: 1px solid black;
}
.feedback {
  margin-top: -130px;
  width: $container-width;
  height: 836px;
  border: 1px solid black;
}
footer {
  margin-top: -70px;
  width: $container-width;
  height: 150px;
  border: 1px solid black;
  background: #303030;
}
