@import "vendor/reset";
@import "inheritance";
@import "variables";
@import "typography";
@import "scss/components/headline";
@import "scss/components/commercial";
@import "scss/components/blog";
@import "scss/components/button";
@import "/scss/mixins/flex-mix.scss";

a {
  text-decoration: none;
  color: $white;
}

.container {
  @include flex;
  max-width: $container-width;
  flex-direction: column;
  font-family: Raleway, sans-serif;
  background: $grey;
}

.start-screen-block {
  max-width: $container-width;
  border: 1px solid black;
  background: #3d4148;
}

header {
  @include flex;
  width: inherit;
  align-self: center;
  border: 1px solid blue;
}

header ul {
  @include flex;
  list-style-type: none;
  align-items: baseline;
  margin-top: 38px;
  margin-left: 25px;
  text-transform: uppercase;
  align-items: flex-end;
}

header li {
  padding: 0 40px;
  border-bottom: 1px solid transparent;
  font-size: 18px;
  color: $white;
}

header li:hover {
  border-bottom-color: #f00;
}

.header-headline {
  @extend %header-p;
}

.header-logo img {
  width: 50px;
  height: 50px;
}
.header-slider {
  width: 1364px;
  height: 524px;
  border: 1px solid green;
  margin-top: 187px;
  margin-left: 38px;
}
.header-slider p {
  font-size: 50px;
  margin-top: 37px;
  color: $white;
  margin-left: 91px;
}
.slider-buttons {
  margin: 69px 96px;
}
.arrows {
  position: absolute;
  width: inherit;
}
.left-arrow {
  margin: 120px -1px;
  position: absolute;
}
.right-arrow {
  margin-top: 120px;
  position: absolute;
  right: 1px;
}
.slider-headline {
  font-size: 70px;
  font-weight: 700;
  font-style: normal;
  margin-top: -17px;
}
.line {
  margin: -16px 95px;
}
.slider-dots {
  margin: 140px auto;
  display: flex;
  justify-content: space-around;
  width: 105px;
  height: 25px;
}
.slider-paragraph {
  font-size: 50px;
  width: 910px;
}
.slider-dots-item-focused {
  width: 23px;
  height: 23px;
  border: 1px solid $white;
  background: $white;
}
.slider-dots-item {
  width: 23px;
  height: 23px;
  border: 1px solid $white;
  background: none;
}

.paralax-section {
  background: url(/src/img/red-frame.png);
  margin-top: 25px;
  width: $container-width;
  z-index: 100;
  border: 1px solid black;
}
.paralax-headline {
  @extend %headline;
}
.paralax-quote {
  @include flex;
  flex-direction: column;
  padding-top: 25px;
  padding-bottom: 165px;
  color: $white;
}
.quote-symbol {
  color: $white;
  font-size: 150px;
  opacity: 0.6;
  margin-left: 15vw;
  width: 51px;
  height: 40px;
}
.quote {
  font-style: italic;
  font-size: 30px;
  align-self: center;
  width: 878px;
  height: 71px;
}
.quote-author {
  font-size: 30px;
  margin-top: 5vh;
  width: 878px;
  align-self: center;
}
.latest-blog-posts {
  width: $container-width;
  border: 1px solid black;
  background: $white;
}
.latest-portfolio {
  margin-top: -80px;
  width: $container-width;
  border: 1px solid black;
}
.feedback {
  margin-top: -130px;
  width: $container-width;
  border: 1px solid black;
}
footer {
  margin-top: -70px;
  width: $container-width;
  border: 1px solid black;
  background: #303030;
}
