/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header-headline p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 32px;
  color: #fafafa;
}

h1 {
  color: #fafafa;
}

.blog-headline, .paralax-headline {
  width: 541px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 195px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.underline, .blog-underline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  border-bottom: 1px solid #fafafa;
  padding: 20px;
  width: 50px;
  white-space: nowrap;
}

.underline-headline, .blog-underline-headline {
  -ms-flex-item-align: center;
      align-self: center;
  width: 500px;
  margin-top: -20px;
  font-size: 45px;
  color: white;
}

.underline-text, .blog-underline-text {
  font-size: 18px;
  color: white;
  margin-top: 30px;
}

.commercial-data {
  padding: 25px 0;
  width: 1440px;
  border: 1px solid black;
  background: #3d4148;
}

.list-of-data {
  color: #fafafa;
  height: 100%;
  padding-bottom: 215px;
}

.list-of-data li {
  padding: 0 75px;
  float: left;
}

.list-letters {
  font-size: 25px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-left: -6vw;
  margin-top: 120px;
}

.list-numbers {
  font-size: 40px;
}

.chapter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog-headline, .paralax-headline {
  width: 541px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 195px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.underline, .blog-underline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  border-bottom: 1px solid #fafafa;
  padding: 20px;
  width: 50px;
  white-space: nowrap;
}

.underline-headline, .blog-underline-headline {
  -ms-flex-item-align: center;
      align-self: center;
  width: 500px;
  margin-top: -20px;
  font-size: 45px;
  color: white;
}

.underline-text, .blog-underline-text {
  font-size: 18px;
  color: white;
  margin-top: 30px;
}

.button, .learn-btn, .read-more {
  cursor: pointer;
  color: #fafafa;
  font-size: 16px;
  text-transform: uppercase;
  width: 150px;
  height: 50px;
  background: none;
  border: 1px solid #fafafa;
}

.button:hover, .learn-btn:hover, .read-more:hover {
  background: #d14b3a;
  border: none;
}

.learn-btn {
  margin-left: 15px;
}

.first-column {
  width: 372px;
  display: inline-block;
  margin-left: 20px;
}

.folder {
  margin: 47px 0;
  width: 373px;
  height: 200px;
  background: #3d4148;
  position: relative;
}

.folder:before {
  width: 161.5px;
  height: 50px;
  background: #3d4148;
  position: absolute;
  content: "";
  top: -50px;
  left: 0;
}

.folder:after {
  width: 0;
  height: 0;
  border-bottom: 50px solid #3d4148;
  border-right: 50px solid transparent;
  position: absolute;
  content: "";
  top: -50px;
  left: 161.5px;
}

.folder-info {
  padding: 30px 0px;
}

.info-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info-list li {
  margin-left: 13px;
}

.folder-paragraph {
  padding: 0px 10px;
}

.read-more {
  border: 1px solid #ff3c1f !important;
  color: #ff3c1f !important;
}

.read-more:hover {
  background: white !important;
}

.folder-button {
  padding: 56px 25px;
}

.blog-headline {
  padding: 100px 0 84px;
}

.blog-underline {
  border-bottom: 1px solid #000;
}

.blog-underline-headline {
  color: #000;
}

.blog-underline-text {
  -ms-flex-item-align: center;
      align-self: center;
  color: #000;
  width: 40vw;
}

.blog-folders {
  margin-left: 115px;
}

.folder-headline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.folder-name {
  padding: 220px 0 15px;
  font-size: 25px;
  border-bottom: 1px solid black;
}

.button, .learn-btn, .read-more {
  cursor: pointer;
  color: #fafafa;
  font-size: 16px;
  text-transform: uppercase;
  width: 150px;
  height: 50px;
  background: none;
  border: 1px solid #fafafa;
}

.button:hover, .learn-btn:hover, .read-more:hover {
  background: #d14b3a;
  border: none;
}

.learn-btn {
  margin-left: 15px;
}

a {
  text-decoration: none;
  color: #fafafa;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1440px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: Raleway, sans-serif;
  background: #3d4148;
}

.start-screen-block {
  max-width: 1440px;
  border: 1px solid black;
  background: #3d4148;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: inherit;
  -ms-flex-item-align: center;
      align-self: center;
  border: 1px solid blue;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-top: 38px;
  margin-left: 25px;
  text-transform: uppercase;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

header li {
  padding: 0 40px;
  border-bottom: 1px solid transparent;
  font-size: 18px;
  color: #fafafa;
}

header li:hover {
  border-bottom-color: #f00;
}

.header-logo img {
  width: 50px;
  height: 50px;
}

.header-slider {
  width: 1364px;
  height: 524px;
  border: 1px solid green;
  margin-top: 187px;
  margin-left: 38px;
}

.header-slider p {
  font-size: 50px;
  margin-top: 37px;
  color: #fafafa;
  margin-left: 91px;
}

.slider-buttons {
  margin: 69px 96px;
}

.arrows {
  position: absolute;
  width: inherit;
}

.left-arrow {
  margin: 120px -1px;
  position: absolute;
}

.right-arrow {
  margin-top: 120px;
  position: absolute;
  right: 1px;
}

.slider-headline {
  font-size: 70px;
  font-weight: 700;
  font-style: normal;
  margin-top: -17px;
}

.line {
  margin: -16px 95px;
}

.slider-dots {
  margin: 140px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 105px;
  height: 25px;
}

.slider-paragraph {
  font-size: 50px;
  width: 910px;
}

.slider-dots-item-focused {
  width: 23px;
  height: 23px;
  border: 1px solid #fafafa;
  background: #fafafa;
}

.slider-dots-item {
  width: 23px;
  height: 23px;
  border: 1px solid #fafafa;
  background: none;
}

.paralax-section {
  background: url(/src/img/red-frame.png);
  margin-top: 25px;
  width: 1440px;
  z-index: 100;
  border: 1px solid black;
}

.paralax-quote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 25px;
  padding-bottom: 165px;
  color: #fafafa;
}

.quote-symbol {
  color: #fafafa;
  font-size: 150px;
  opacity: 0.6;
  margin-left: 15vw;
  width: 51px;
  height: 40px;
}

.quote {
  font-style: italic;
  font-size: 30px;
  -ms-flex-item-align: center;
      align-self: center;
  width: 878px;
  height: 71px;
}

.quote-author {
  font-size: 30px;
  margin-top: 5vh;
  width: 878px;
  -ms-flex-item-align: center;
      align-self: center;
}

.latest-blog-posts {
  width: 1440px;
  border: 1px solid black;
  background: #fafafa;
}

.latest-portfolio {
  margin-top: -80px;
  width: 1440px;
  border: 1px solid black;
}

.feedback {
  margin-top: -130px;
  width: 1440px;
  border: 1px solid black;
}

footer {
  margin-top: -70px;
  width: 1440px;
  border: 1px solid black;
  background: #303030;
}
