header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-logo img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px auto;
  width: 105px;
  height: 88px;
}

.header-logo p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 32px;
  color: #FAFAFA;
}

h1 {
  color: #FAFAFA;
}

* {
  margin: 0;
  padding: 0;
  font-family: raleway, sans-serif;
}

a {
  text-decoration: none;
  color: #FAFAFA;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.start-screen-block {
  width: 1440px;
  height: 900px;
  border: 1px solid black;
  background: #3d4148;
}

header {
  position: absolute;
  margin: 20px 230px 0px;
  width: 1021px;
  height: 465px;
  border: 1px solid blue;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  width: 963px;
  height: 25px;
  margin-top: 38px;
  margin-left: -35px;
}

header li {
  float: left;
  display: block;
  font-size: 18px;
  color: #FAFAFA;
}

header li:hover {
  border-bottom: 1px solid red;
}

.header-slider {
  width: 1364px;
  height: 524px;
  border: 1px solid green;
  margin-top: 187px;
  margin-left: 38px;
}

.header-slider p {
  font-size: 50px;
  margin-top: 37px;
  color: white;
  margin-left: 91px;
}

.header-buttons {
  margin: 66px 96px;
}

.header-buttons button {
  cursor: pointer;
  font-size: 16px;
  color: #FAFAFA;
  width: 150px;
  height: 50px;
  border: 1px solid white;
  background: none;
}

.slider-dots {
  margin: 140px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 105px;
  height: 25px;
}

.slider-dots img {
  padding: 0 8px;
  float: left;
  width: 23px;
  height: 23px;
}

.paralax-section {
  background: url(/src/img/red-frame.png);
  margin-top: -35px;
  width: 1440px;
  height: 700px;
  border: 1px solid black;
}

.commercial-data {
  margin-top: -40px;
  width: 1440px;
  height: 294px;
  border: 1px solid black;
  background: #656d7a;
}

.latest-blog-posts {
  width: 1440px;
  height: 1069px;
  border: 1px solid black;
}

.latest-portfolio {
  margin-top: -80px;
  width: 1440px;
  height: 923px;
  border: 1px solid black;
}

.feedback {
  margin-top: -130px;
  width: 1440px;
  height: 836px;
  border: 1px solid black;
}

footer {
  margin-top: -70px;
  width: 1440px;
  height: 150px;
  border: 1px solid black;
  background: #303030;
}
