/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header-headline p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 32px;
  color: #fafafa;
}

.left-arrow, .right-arrow, .right-blog-arrow, .left-blog-arrow {
  margin: 99px -1px;
  font-family: "Raleway";
  font-weight: 100;
  font-size: 60px;
  position: absolute;
}

.left-arrow:hover, .right-arrow:hover, .right-blog-arrow:hover, .left-blog-arrow:hover {
  color: #ff3c1f;
  cursor: pointer;
}

h1 {
  color: #fafafa;
}

@font-face {
  font-family: "Raleway";
  src: url("../assets/fonts/Raleway.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Times New Roman";
  src: url("../assets/fonts/TimesNewRoman.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../assets/fonts/Raleway-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../assets/fonts/Raleway-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSansLight-Italic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSans-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Myriad Pro";
  src: url("/assets/fonts/MyriadPro-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Myriad Pro";
  src: url("../assets/fonts/MyriadPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.blog-headline, .paralax-headline {
  width: 541px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 179px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.underline, .blog-underline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  border-bottom: 1px solid #fafafa;
  padding: 20px;
  width: 50px;
  white-space: nowrap;
}

.underline-headline, .blog-underline-headline {
  -ms-flex-item-align: center;
      align-self: center;
  width: 500px;
  margin-top: -20px;
  font-size: 45px;
  color: white;
}

.underline-text, .blog-underline-text {
  font-size: 18px;
  color: white;
  margin-top: 21px;
}

@font-face {
  font-family: "Raleway";
  src: url("../assets/fonts/Raleway.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Times New Roman";
  src: url("../assets/fonts/TimesNewRoman.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../assets/fonts/Raleway-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../assets/fonts/Raleway-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSansLight-Italic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSans-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Myriad Pro";
  src: url("/assets/fonts/MyriadPro-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Myriad Pro";
  src: url("../assets/fonts/MyriadPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.commercial-data {
  width: 1440px;
  border: 1px solid black;
  background: #3d4148;
  padding-bottom: 35px;
}

.list-of-data {
  color: #fafafa;
  height: 100%;
  padding-bottom: 215px;
}

.list-of-data-li {
  width: 25%;
  float: left;
  margin-top: 60px;
}

.list-of-data-li-special {
  width: 18%;
  float: left;
  margin-top: 60px;
}

.list-letters, .list-letters-two, .list-letters-three, .list-letters-four {
  font-size: 25px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 29px 53px 0 0;
}

.list-letters-two {
  margin: 29px 58px 0 0;
}

.list-letters-three {
  margin: 29px 0 0 112px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.list-numbers {
  font-size: 40px;
  margin-left: 27px;
}

.chapter, .chapter-two, .chapter-three, .chapter-four {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chapter-container, .chapter-container-two, .chapter-container-three, .chapter-container-four {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.chapter-container-two {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: 122px;
}

.chapter-container-three {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: 69px;
}

.chapter {
  margin-left: 70px;
}

.chapter-two {
  margin-left: 34px;
}

.chapter-three {
  margin-right: 111px;
}

.chapter-four {
  margin-right: 100px;
}

.chapter-image, .chapter-image-two, .chapter-image-three, .chapter-image-four {
  width: 45px;
  height: 43px;
}

.chapter-image-two {
  height: 35px;
  margin: 4px 0 0 6px;
}

.chapter-image-four {
  margin-left: 9px;
}

@font-face {
  font-family: "Raleway";
  src: url("../assets/fonts/Raleway.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Times New Roman";
  src: url("../assets/fonts/TimesNewRoman.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../assets/fonts/Raleway-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../assets/fonts/Raleway-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSansLight-Italic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSans-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Myriad Pro";
  src: url("/assets/fonts/MyriadPro-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Myriad Pro";
  src: url("../assets/fonts/MyriadPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.blog-headline, .paralax-headline {
  width: 541px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 179px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.underline, .blog-underline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  border-bottom: 1px solid #fafafa;
  padding: 20px;
  width: 50px;
  white-space: nowrap;
}

.underline-headline, .blog-underline-headline {
  -ms-flex-item-align: center;
      align-self: center;
  width: 500px;
  margin-top: -20px;
  font-size: 45px;
  color: white;
}

.underline-text, .blog-underline-text {
  font-size: 18px;
  color: white;
  margin-top: 21px;
}

.button, .learn-btn, .read-more {
  cursor: pointer;
  color: #fafafa;
  font-size: 16px;
  text-transform: uppercase;
  width: 150px;
  height: 50px;
  background: none;
  border: 1px solid #fafafa;
}

.button:hover, .learn-btn:hover, .read-more:hover {
  background: #d14b3a;
  border: none;
}

.learn-btn {
  margin-left: 15px;
}

@font-face {
  font-family: "Raleway";
  src: url("../assets/fonts/Raleway.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Times New Roman";
  src: url("../assets/fonts/TimesNewRoman.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../assets/fonts/Raleway-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../assets/fonts/Raleway-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSansLight-Italic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSans-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Myriad Pro";
  src: url("/assets/fonts/MyriadPro-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Myriad Pro";
  src: url("../assets/fonts/MyriadPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.first-column, .second-column, .third-column {
  width: 372px;
  display: inline-block;
  margin-left: 20px;
}

.second-column {
  margin-left: 23px;
}

.third-column {
  margin-left: 25px;
}

.folder {
  margin: 52px 0;
  width: 369px;
  height: 206px;
  background: #3d4148;
  position: relative;
}

.folder:before {
  width: 168px;
  height: 38px;
  background: #3d4148;
  position: absolute;
  content: "";
  top: -37px;
  left: 0;
}

.folder:after {
  width: 0;
  height: 0;
  border-bottom: 78px solid #3d4148;
  border-right: 72px solid transparent;
  position: absolute;
  content: "";
  top: -37px;
  left: 167.5px;
}

.first-folder-info, .third-folder-info {
  padding: 26px 0 10px 0px;
}

.second-folder-info {
  padding: 61px 0 0 0;
}

.info-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-left: 20px;
}

.info-list-li {
  margin-left: 8px;
  font-weight: bold;
}

.folder-paragraph {
  padding: 0px 10px;
}

.read-more {
  border: 1px solid #ff3c1f !important;
  color: #ff3c1f !important;
}

.read-more:hover {
  background: white !important;
}

.folder-button {
  padding: 19px 27px;
}

.folder-words {
  text-align: justify;
  padding: 6px 24px 0 14px;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0.2px;
}

@font-face {
  font-family: "Raleway";
  src: url("../assets/fonts/Raleway.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Times New Roman";
  src: url("../assets/fonts/TimesNewRoman.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../assets/fonts/Raleway-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../assets/fonts/Raleway-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSansLight-Italic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSans-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Myriad Pro";
  src: url("/assets/fonts/MyriadPro-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Myriad Pro";
  src: url("../assets/fonts/MyriadPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.blog-headline {
  padding: 95px 0 93px;
  width: 100%;
}

.blog-underline {
  border-bottom: 1px solid #000;
  padding-bottom: 28px;
}

.blog-underline-headline {
  color: #000;
}

.blog-underline-text {
  text-align: center;
  width: 53%;
  -ms-flex-item-align: center;
      align-self: center;
  color: #000;
}

.blog-folders {
  margin-left: 115px;
  width: 100%;
}

.folder-headline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.first-folder-name, .second-folder-name, .third-folder-name {
  padding: 230px 40px 15px 0;
  font-size: 25px;
  border-bottom: 1px solid black;
  letter-spacing: 0.7px;
}

.first-folder-name:hover, .second-folder-name:hover, .third-folder-name:hover {
  cursor: pointer;
  color: #ff3c1f;
}

.second-folder-name {
  padding-left: 24px;
  line-height: 27px;
}

.third-folder-name {
  padding-right: 77px;
}

.button, .learn-btn, .read-more {
  cursor: pointer;
  color: #fafafa;
  font-size: 16px;
  text-transform: uppercase;
  width: 150px;
  height: 50px;
  background: none;
  border: 1px solid #fafafa;
}

.button:hover, .learn-btn:hover, .read-more:hover {
  background: #d14b3a;
  border: none;
}

.learn-btn {
  margin-left: 15px;
}

@font-face {
  font-family: "Raleway";
  src: url("../assets/fonts/Raleway.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Times New Roman";
  src: url("../assets/fonts/TimesNewRoman.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../assets/fonts/Raleway-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../assets/fonts/Raleway-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSansLight-Italic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSans-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Myriad Pro";
  src: url("/assets/fonts/MyriadPro-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Myriad Pro";
  src: url("../assets/fonts/MyriadPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

a {
  text-decoration: none;
  color: #fafafa;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1440px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: Raleway, sans-serif;
  background: #3d4148;
}

.start-screen-block {
  max-width: 1440px;
  background: #3d4148;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: inherit;
  -ms-flex-item-align: center;
      align-self: center;
  border: 1px solid blue;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-top: 20px;
  list-style-type: none;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-left: 26px;
  text-transform: uppercase;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

header li {
  margin-left: 6px;
  padding: 0 40px;
  border-bottom: 1px solid transparent;
  font-size: 18px;
  color: #fafafa;
}

header li:hover {
  border-bottom-color: #f00;
}

.expire-header {
  padding: 17px;
}

.header-logo img {
  width: 50px;
  height: 50px;
}

.header-slider {
  width: 1364px;
  border: 1px solid green;
  color: #fafafa;
  margin: 0 auto;
}

.slider-buttons {
  margin: 60px 0 0 98px;
}

.arrows {
  position: absolute;
  width: inherit;
  margin-top: 173px;
}

.right-arrow {
  right: 0;
}

.right-blog-arrow {
  right: 59px;
  top: -22px;
}

.left-blog-arrow {
  left: -77px;
  top: -22px;
}

.slider-headline {
  font-size: 70px;
  font-weight: 700;
  font-style: normal;
  margin: 161px 0 0 92px;
}

.line {
  margin: -25px 95px;
}

.slider-dots {
  margin: 141px auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 105px;
  height: 25px;
}

.slider-paragraph {
  margin: 44px 0px 0px 94px;
  font-size: 50px;
  width: 910px;
  line-height: 1.3;
}

.slider-dots-item {
  width: 23px;
  height: 23px;
  border: 1px solid #fafafa;
  background: none;
}

.slider-dots-item-focused {
  width: 23px;
  height: 23px;
  border: 1px solid #fafafa;
  background: #fafafa;
}

.slider-dots-item:hover {
  background: #fafafa;
  cursor: pointer;
}

.paralax-section {
  background: url(/src/img/red-frame.png);
  margin-top: 25px;
  width: 1440px;
  z-index: 100;
}

.paralax-quote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 40px;
  padding-bottom: 147px;
  color: #fafafa;
}

.bottom-picture {
  width: 734px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
}

.bottom-picture:before {
  width: 705px;
  height: 30px;
  background: #3d4148;
  content: "";
  top: -50px;
  left: 0;
}

.bottom-picture:after {
  width: 0;
  height: 0;
  border-bottom: 30px solid #3d4148;
  border-right: 30px solid transparent;
  content: "";
  top: -50px;
  left: 161.5px;
}

.quote-symbol {
  font-family: "Times New Roman";
  color: #fafafa;
  font-size: 150px;
  opacity: 0.2;
  margin-left: 247px;
  letter-spacing: -11px;
  width: 51px;
  height: 40px;
}

.quote {
  margin-left: 50px;
  font-family: "Raleway";
  letter-spacing: -0.7px;
  font-style: italic;
  font-size: 30px;
  -ms-flex-item-align: center;
  align-self: center;
  padding: 0 269px 0 240px;
  line-height: 1.3;
}

.quote-author {
  font-size: 30px;
  margin: 52px 0 0 18px;
  width: 878px;
  -ms-flex-item-align: center;
      align-self: center;
}

.latest-blog-posts {
  width: 1440px;
  background: #fafafa;
}

.latest-portfolio {
  margin-top: -80px;
  width: 1440px;
}

.feedback {
  margin-top: -130px;
  width: 1440px;
}

footer {
  margin-top: -70px;
  width: 1440px;
  background: #303030;
}
