.hidden {
  display: none;

  @each $breakpoint,
  $size in $breakpoints {
    @media screen and (max-width: $size) {
      &-#{$breakpoint} {
        display: none;
      }
    }
  }
}

.visible {

  @each $breakpoint,
  $size in $breakpoints {
    &-#{$breakpoint} {
      display: none;
    }
  }

  @each $breakpoint,
  $size in $breakpoints {
    @media screen and (max-width: $size) {
      &-#{$breakpoint} {
        display: block;
      }
    }
  }
}