@import "headline";

.blog-headline {
  @extend %headline;
}

.blog-underline {
  @extend %underline;
  border-bottom: 1px solid #000;
}

.blog-underline-headline {
  @extend %underline-headline;
  color: #000;
}

.blog-underline-text {
  @extend %underline-text;
  align-self: center;
  color: #000;
  width: 40vw;
}

.test {
  margin-left: 5vw;
  width: 373px;
  height: 200px;
  background: $grey;
  position: relative;
}
.test:after {
  width: 0;
  height: 0;
  border-bottom: 50px solid $grey;
  border-right: 50px solid transparent;
  position: absolute;
  content: "";
  top: -50px;
  left: (373px / 2 - 25px);
}
.test:before {
  width: (373px / 2 - 25px);
  height: 50px;
  background: $grey;
  position: absolute;
  content: "";
  top: -50px;
  left: 0;
}
