@import "headline";
@import "folder";
@import "./mixins/flex-mix.scss";
@import "./src/fonts";

.blog-headline {
  @extend %headline;
  padding: 95px 0 93px;
  width: 100%;
}

.blog-underline {
  @extend %underline;
  border-bottom: 1px solid $black;
  padding-bottom: 28px;
}

.blog-underline-headline {
  @extend %underline-headline;
  color: $black;
}

.blog-underline-text {
  @extend %underline-text;
  text-align: center;
  width: 53%;
  align-self: center;
  color: $black;
}
.blog-folders {
  width: 84%;
  padding-left: 115px;
}

.folder {
  @extend %folder;

  &:before {
    @extend %folder:before;
  }

  &:after {
    @extend %folder:after;
  }
}

.folder-headline {
  @include flex;
}

%folder-name {
  padding: 230px 40px 15px 0;
  font-size: 25px;
  border-bottom: 1px solid black;
  letter-spacing: 0.7px;
  &:hover {
    cursor: pointer;
    color: $orange;
  }
}

.first-folder-name {
  @extend %folder-name;
}

.second-folder-name {
  @extend %folder-name;
  padding-left: 24px;
  line-height: 27px;
}

.third-folder-name {
  @extend %folder-name;
  padding-right: 77px;
}

.folder-name:hover {
}
