@import "headline";
@import "folder";
@import "./mixins/flex-mix.scss";
@import "./src/fonts";

.blog-headline {
  @extend %headline;
  padding: 85px 0 86px;
  width: 100%;
}

.blog-underline {
  @extend %underline;
  margin-top: 25px;
  padding: 1px 25px;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#f74831),
    to(#525656)
  );
}

.blog-underline-headline {
  @extend %underline-headline;
  color: $black;
  margin: 11px 0px 0 140px;
  padding: 0 0 2px 0;
}

.blog-underline-text {
  @extend %underline-text;
  text-align: center;
  width: 60%;
  align-self: center;
  color: $black;
}
.blog-folders {
  width: 100%;
  box-sizing: border-box;
  padding-left: 115px;
}

.folder {
  @extend %folder;

  &:before {
    @extend %folder:before;
  }

  &:after {
    @extend %folder:after;
  }
}

.folder-headline {
  @include flex;
}

%folder-name {
  padding: 230px 40px 15px 0;
  font-size: 25px;
  border-bottom: 1px solid black;
  letter-spacing: 0.7px;
  &:hover {
    cursor: pointer;
    color: $second-color;
  }
}

.first-folder-name {
  @extend %folder-name;
}

.second-folder-name {
  @extend %folder-name;
  padding-left: 24px;
  line-height: 27px;
}

.third-folder-name {
  @extend %folder-name;
  padding-right: 77px;
}

.folder-name:hover {
}
