@import "./button";
@import "./mixins/flex-mix.scss";
@import "./src/fonts";
@import "../variables";
@import "../mixins/adaptive";

%column {
  width: 33%;
  margin: 0 auto;
  display: inline-block;
  border-image-source: linear-gradient($color-feedback-border-grad1,
    $color-feedback-border-grad2);
  border-width: 1px;
  border-image-slice: 1;
}

.first-column {
  @extend %column;
}

.second-column {
  @extend %column;
  margin-left: 23px;
}

.third-column {
  @extend %column;
  margin-left: 25px;
}

%folder {
  margin: 52px 0;
  width: 100%;
  height: 206px;
  background: $data-color;
  position: relative;

  &:before {
    width: 169px;
    height: 38px;
    background: $data-color;
    position: absolute;
    content: "";
    top: -37px;
    left: 0;
  }

  &:after {
    width: 0;
    height: 0;
    border-bottom: 78px solid $data-color;
    border-right: 72px solid transparent;
    position: absolute;
    content: "";
    top: -37px;
    left: 167.5px;
  }
}

%folder-info {
  padding: 5% 0 0 0;
  font-family: "Open sans";
  font-weight: 200;
  color: $folder-text-color;
  font-size: 14px;

}

.first-folder-info {
  @extend %folder-info;
}

.second-folder-info {
  @extend %folder-info;
  padding: 16% 0 3% 0;
}

.third-folder-info {
  @extend %folder-info;
  font-weight: 600;

}

.info-list {
  @include flex;
  justify-content: start;
  margin-left: 20px;
}

.info-list-item {
  margin-left: 8px;
  font-weight: bold;
}

.folder-paragraph {
  padding: 0px 10px;
}

.read-more {
  @extend %button-template;
  border: 1px solid $second-color;
  color: $second-color;
}

.read-more:hover {
  background: white;
}

.folder-button {
  padding: 19px 27px;
}

.folder-words {
  text-align: justify;
  padding: 6px 24px 0 14px;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0.2px;
}

.bottom-border {
  height: 30px;
  width: 100%;
  margin-top: 116px;

  &:after {
    width: calc(50% - 12px);
    height: 30px;
    position: absolute;
    content: "";
    border-top: 1px solid $data-color;
  }

  &:before {
    width: calc(50% - 17px);
    right: 0;
    height: 30px;
    position: absolute;
    content: "";
    border-bottom: 1px solid $data-color;
  }
}

.info-list-text {
  font-size: 14px;
}

.triangle {
  margin-top: -16px;
  border-left: 1px solid $data-color;
  position: absolute;
  margin-left: calc(50% - 2px);
  height: 42px;
  width: 30px;
  transform: rotate(-45deg);
}

@include screen-large {

  %folder-info {
    padding: 6% 0 3% 0;
  }

  .info-list {
    margin-left: 0;
    font-size: 11px;
  }

  %folder-name {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    font-size: 22px;
  }

  .folder-paragraph,
  .folder-words {
    padding: 0;
    font-size: 11px;
  }

  .second-folder-info {
    padding: 21% 0 3% 0;
  }

  .folder-words {
    padding: 6px 0 0 14px;
  }
}

@include screen-x-large {
  %folder-info {
    padding: 6% 0 3% 0;
  }

  .info-list {
    margin-left: 0;
    font-size: 11px;
  }



  %folder-name {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    font-size: 22px;
  }

  %folder-info {
    padding: 6% 0 3% 0;
  }

  .second-folder-info {
    padding: 18% 0 3% 0;
  }

  .folder-paragraph,
  .folder-words {
    padding: 0;
    font-size: 13px;
  }

}