@import "./src/fonts";

%headline {
  width: 50%;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  padding-top: 179px;
  flex-direction: column;
}

%underline {
  display: flex;
  justify-content: center;
  align-self: center;
  border-bottom: 1px solid $color-primary;
  padding: 19px;
  width: 60px;
  white-space: nowrap;
}

%underline-headline {
  align-self: center;
  width: 500px;
  margin-top: -20px;
}

%underline-text {
  text-align: center;
  font-size: 18px;
  margin-top: 21px;
}

.underline {
  @extend %underline;
}

.underline-headline {
  @extend %underline-headline;
}

.underline-text {
  @extend %underline-text;
}